page-display {
   .dis{
        background-color: aquamarine;
    }
    ion-grid{
        border: 1em solid blue;
    }

   img{
    border: .1em solid blue;

   }

   .save{
       margin: 14%;
   }
}
